@import '~global/common.less';

html {
  overflow: hidden;
}

html,
body,
#app-main {
  height: 100%;
  width: 100%;
  overflow: hidden;
  > div:nth-child(1) {
    height: 100%;
    width: 100%;
  }
}

.wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.home {
  flex: 1;
  width: 100%;
  // background: tomato;
  .banner {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
    margin-bottom: 50px;
    //   &::after {
    //     content: "";
    //     width: 100%;
    //     height: 100%;
    //     position: absolute;
    //     left: 0;
    //     top: 0;
    //     background: inherit;
    //     filter: blur(0px);
    // }
    // .mask {
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   width: 100%;
    //   height: 50%;
    //   background: -webkit-linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0)) ;
    // }
    .desc {
      color: #777;
      font-size: 24px;
      width: 1140px;
      padding: 200px 0 0 0;
      margin: 0 auto;
      text-align: center;
      &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: inherit;
        filter: blur(0px);
      }
    }
  }
  .list {
    max-width: 1140px;
    margin: 0 auto;
  }
}

.list_item {
  .img {
    cursor: pointer;
    width: 870px;
    height: 510px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
  }
  .inner {
    width: 730px;
    margin: 0 auto;
    .item_tag {
      cursor: pointer;
      margin: 50px auto 20px;
      > span {
        color: #a0a8bd;
        padding: 4px 10px;
        border: 1px solid transparent;
        border-radius: 20px;
        background: rgba(160, 168, 189, 0.2);
        margin-right: 10px;
        &:hover {
          border: 1px solid #007bff;
          color: #007bff;
          background: transparent;
        }
      }
    }
    .item_title {
      padding-bottom: 10px;
      cursor: pointer;
      font-weight: bold;
      font-size: 24px;
      line-height: 40px;
      .slh2();
    }
    .item_sample {
      font-size: 16px;
      line-height: 24px;
      padding: 0 40% 30px 0;
      .content {
        .slh3();
      }
      .rm {
        cursor: pointer;
        font-weight: bold;
      }
    }
    .info {
      line-height: 30px;
      > span {
        margin-right: 50px;
      }
    }
  }
  &::before {
    content: '';
    display: block;
    height: 42px;
    width: 730px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0 auto 50px;
  }
  &:nth-child(1) {
    &::before {
      display: none;
    }
  }
  &:nth-last-child(1) {
    padding-bottom: 50px;
  }
}

footer {
  height: 517px;
  width: 100%;
  background: #000;
  color: #fff;
}

header {
  position: fixed;
  top: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.45);
  height: 120px;
  line-height: 120px;
  width: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  transition-duration: 0.3s;
  // transition-delay: 0.1s;
  .inner {
    height: 100%;
    width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    ul {
      display: flex;
      li {
        font-size: 13px;
        margin-left: 50px;
        span {
          cursor: pointer;
        }
      }
    }
  }
  .logo {
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    img {
      transition-duration: 0.3s;
      // transition-delay: 0.1s;
      margin-left: 20px;
      height: 55px;
    }
  }
  .tag {
    position: fixed;
    top: 0;
    // height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.45);
    .echarts {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      height: 800px;
      width: 800px;
      background: rgba(0, 0, 0, 0.45);
      .serverdataform {
        height: 100%;
        width: 100%;
      }
    }
  }
}

.smallheader {
  height: 60px;
  line-height: 60px;
  .logo {
    img {
      margin-left: 12px;
      height: 32px;
    }
  }
}
